# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Casestudy3-web\xem gio cua cac thanh pho\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
